*
!*.*
.cache/clangd/index
.direnv
.venv
build
compile_commands.json
profile.json.gz
*.bin
CMakeFiles
_deps
cmake_install.cmake
Makefile
*.out
*.a
*.hdf5
*.csv
*.so
*.db
*.png
*.pdf
txts/
*.sh
*.txt
*.pyc
